@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

nav img {
    max-height: 70px !important;
}

body {
    background-color: #10dc7d;
    color: #333;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

@keyframes lists {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.list {
    animation: lists 1s ease-in-out;
}

@media screen and (max-width: 400px) {
    .map {
        width: 100%;
    }
    
}

footer {
    width: 100%;
    bottom: 0;
    background-image: url("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fi.cdn.turner.com%2Fmoney%2Finteractive%2Fnews%2Fburger-showdown%2Fassets%2Ffive-guys-b.png&f=1&nofb=1&ipt=e81500e49648dcec542d462af84315a0c2ec0ea36df4acce6904d3abf7fea7a8&ipo=images");
    background-size: contain;
    background-position: center;
}