@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900&display=swap');

body {
    background-color: #10dc7d;
    color: #333;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

h1
{
    font-size: 5em;
    font-weight: 500;
    margin: 0;
    padding: 0;
}
h3
{
    font-size: 4em;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

ul.nav-menu{
    display: none;
    }
    .menu-icon {
    display: block;
    }
    nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 8vh;
      background-color: #fff;
      color: #fff;
      position: sticky;
      border-bottom: #C1C2EB solid 2px;
      transition: all .5s ease-in;
      z-index: 1;
    }

    nav img {
      max-height: 60px !important;
      padding: 1rem;
    }

.navbar-links{
    display: flex;
    justify-content: space-around;
    width: 20%;
    height: 100%;
    margin-right: 1rem;

    
}

.navbar-links li{
    list-style: none;
}

.navbar-links a{
    display: flex;
    color: #333;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 14px;
    padding: 0.5rem;
    transition: all 0.3s ease;
    align-items: center;
}

.navbar-links::hover{
    background-color: #333;
    color: #333;
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .navbar-links li {
        opacity: 0;
    }
    .navbar-links li a {
        font-size: 1.5rem;
    }
    .menu-icon {
        display: block;
        cursor: pointer;
    }
    .navbar-links.active li {
        opacity: 1;
    }
    .navbar-links{
        display: none;
    }
}


.qr-code {
    width: 50%;
    height: 50%;
    margin: 0 auto;
    display: block;
}

.white {
    color: #ffffff;
}

.center {
    text-align: center;
}

.top-margin {
    margin-top: 5%;
}

.container {
    margin: 1vh auto;
    max-width: 75vw;
    height: 50vh;
    padding: 0 20px;
    display: flex;
    align-items: baseline;
}

.colour-picker {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.colour-button {
    border-radius: 5px;
    width: 3vh;
    height: 3vh;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
    cursor: pointer;
  }
  
.black {
    background-color: #000;
  }

.white {
    background-color: #ffffff;
  }

.blue {
    background-color: #1877F2;
  }

.purple {
    background-color: #5133BC;
  }

.green {
    background-color: #008000;
  }

.red {
    background-color: #D4134A;
  }

.pink {
    background-color: #841839;
  }

.teal {
    background-color: #489EAB;
  }

.rounded-box {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 2vh 2vw;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    margin: 1vh 1vw;
}

.left-box {
    width: 50%;
    float: left;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        height: fit-content;
        max-width: 90vw;
    }
    .left-box {
        width: 100%;
        float: none;
    }
    h1 {
        font-size: 3em;
    }
    h3 {
        font-size: 2em;
    }
    .click-box {
        width: 10vw !important;
    }
}

.quarter-box {
    width: 25%;
    float: right;
}

.right-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-box {
    background-color: #ffffff;
    border-radius: 50px;
    padding: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    margin: 2vh 2vw;
    width: 75%;
}

.submit-url {
    background-color: #10dc7d;
    border: none;
    border-radius: 50px;
    color: #ffffff;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    transition-duration: 0.4s;
    width: 100%;
}

.input {
    border: none;
    border-bottom: 1px solid #333;
    background-color: #ffffff;
    width: 75%;
    padding: 10px 10px;
    margin: 10px 0;
    font-size: 1em;
    font-weight: 500;
    color: #333;
    transition-duration: 0.4s;
    align-items: center;
}

.modules-look {
    width: 100%;
    height: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

}

.eye-look {
    width: 100%;
    height: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

}

.click-box {
    background-color: #ffffff;
    border-radius: 10%;
    padding: 1.5%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    margin: .5vh .5vw;
    width: 3vw;
    height: auto;
    cursor: pointer;
}

.click-box:hover {
    background-color: #10dc7d;
}

.click-box:focus {
    border-color: red;   
}

.box-clicked {
    border: 50px solid #10dc7d;
}